In [93]:
import os
import pandas as pd
import numpy as np
import uuid
directory_path = os.getcwd()
df = pd.read_csv(directory_path + '/station.csv')
df = df.drop('station_zone', axis=1)
df

# for i, row in df.iterrows():
#     if row['review_identity'] == '8c411e33-bc0d-4bc6-8d9c-f7cfa2143583':
#         new_var = uuid.uuid4()
#         print(i)
#         df.at[i, 'review_identity'] = new_var
#         # df['review_identity'] = new_var
#         # np.where(df['review_identity'] == 'b7ae115a-291f-4aea-891e-2d4ed0d3e6e6', uuid.uuid4(), df['review_identity'])

    # df_det.at[i,'diary_identity'] = uuid.uuid4()
# df_det['diary_identity'] = uuid.uuid4()

# df_det.to_csv(directory_path + '/detail.csv', index=False, sep=',', encoding='utf-8')

,station_identity,station_deletion,station_name,station_latitude,station_longitude,postcode,direction_identity
0,f6338a9e-aea0-4e03-b144-d7f450944a7a,False,Abbey Wood,51.490784,0.120272,SE2 9RH,4e8ce58e-daea-4d93-9490-11e0724e6445
1,b0a41353-fd1b-4caf-9491-40a19f7e38cb,False,Acton Central,51.508757,-0.263430,W3 6BH,095bb39d-fce2-48a9-a766-d2c297c55985
2,e4801c01-89a1-4f0f-986d-2fee0a490dce,False,Acton Main Line,51.516886,-0.267690,W3 9EH,095bb39d-fce2-48a9-a766-d2c297c55985
3,fd9808bc-a2ce-4e09-8a3a-55b321863d81,False,Acton Town,51.503071,-0.280303,W3 8HN,095bb39d-fce2-48a9-a766-d2c297c55985
4,1c9814b6-8730-4d44-9667-ec9e09f427f5,False,Addington Village,51.356239,-0.032665,CR0 5AR,a1f41008-b499-4a71-82d4-444dc4d71d82
...,...,...,...,...,...,...,...
648,68cffadd-b57d-46db-9b95-2464fb318eba,False,Woodside Park,51.617868,-0.185426,N12 8SE,9beb28ec-f491-4ffd-8601-0ad71c0bdbc2
649,c4a8640f-efe7-4367-bb67-f8f56e284007,False,Woolwich,51.491578,0.071819,SE18 6EU,4e8ce58e-daea-4d93-9490-11e0724e6445
650,481551ef-05e7-4e0b-b182-3062c2f27be2,False,Woolwich Arsenal,51.489907,0.069194,SE18 6HX,4e8ce58e-daea-4d93-9490-11e0724e6445
651,4e4caedf-f89f-4b56-9804-191328113325,False,Woolwich Dockyard,51.491108,0.054612,SE18 5JY,4e8ce58e-daea-4d93-9490-11e0724e6445
652,8f42081e-b138-413e-b05d-0406906f5ab5,False,Worcester Park,51.381104,-0.245575,KT4 7ND,d68422e6-b4c1-4d76-ad60-6fdc8758d831

In [74]:
# df = pd.read_csv(directory_path + '/review.csv')
df.loc[df['review_identity'] == '8c411e33-bc0d-4bc6-8d9c-f7cfa2143583'].shape[0]
# df.shape[0]

0

In [75]:
df.to_csv(directory_path + '/review.csv', index=False, sep=',', encoding='utf-8')

In [9]:
list(df_det)

['pub_identity',
 'monday',
 'tuesday',
 'wednesday',
 'thursday',
 'friday',
 'saturday',
 'sunday',
 'diary_identity']

In [11]:
df_x = df_det[['diary_identity',
               'pub_identity',
                'monday',
                'tuesday',
                'wednesday',
                'thursday',
                'friday',
                'saturday',
                'sunday']]
df_x

,diary_identity,pub_identity,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,d6ad5915-8717-4dbf-9fcf-49810963fbeb,d0cb2007-97dd-4d04-9090-b736188a704d,3dff771d-2d85-4a1f-a0dd-2201369ff577,f9d03cea-f2b4-4d63-a940-e3d617805893,0,0,0,0,0ef1ea1c-2a52-425f-be85-792290dada1a
1,fc0775be-d1a6-4b1b-bc4b-2af55c95b136,fd1f6053-8868-419a-a445-fd24a21e8b99,0,0,0,0,0,0,0
2,d19d38a1-f0ba-436e-be08-8293850d9a24,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,0,0,0,0,0,0,0
3,48296c4f-dfe2-48e4-b2a8-1fac45d97ca4,eabe0a83-2841-4c72-b86a-4fb5504e2161,0,0,0,0,0,0,0
4,f9c4a359-0e39-4cdf-9c16-a5cef3cded09,75d7f798-4740-483c-9140-88318b66078e,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1371,bd909d1c-3864-4bcd-a566-49b226d98e12,fd5eee49-bced-405d-aeb7-0abb4c1bb28b,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,05596bb1-20eb-4d5a-b360-6d00fa969ad3,5d904f45-8c7a-49f7-9b96-1ca36b52d6e8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,acb9852e-a328-4ff4-8af5-99dc466b8ca4,b478ce83-e04e-47e7-ba90-56345da9f3ea,1a7dcb1e-cf7a-4f07-8cbe-d4c6a973deba,8ae2ac37-0335-4106-b76e-8b8a46282257,NaN,9a659f61-4fe0-471a-ba68-2ad93c422cba,NaN,NaN,NaN
1374,867e88d8-4a9c-4d67-8c75-e6b0ad2d5e4a,18aa9e68-04ef-4ccc-8ed3-1c3c7b6bf392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1375,92b2f7b7-5e38-48ee-8053-5ee3aee1d625,36de8c15-6886-497a-9b9d-b2a2bc00c896,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
import psycopg2
con = psycopg2.connect(
   database="deb2u2ehdm8ih3",
   user="bjoonismanuyqb",
   password="42c662ab36a741716575f3e0101741349280622fff71ce246b15410de5c460d6",
   host="ec2-54-76-132-202.eu-west-1.compute.amazonaws.com",
   port= '5432'
   )
curs_obj = con.cursor()
directory_path = os.getcwd()
# df = pd.read_csv(directory_path + '/detail.csv')
# df = pd.read_csv(directory_path + '/review.csv')
# df = pd.read_csv(directory_path + '/event.csv')
# df = pd.read_csv(directory_path + '/direction.csv')
# df = pd.read_csv(directory_path + '/station.csv')
df = pd.read_csv(directory_path + '/diary.csv')
df = df.fillna('')
try:
    for index, row in df.iterrows():

        # # # # # # # # # # # # # # #
        # # # POPULATE DIARY # # #
        # # # # # # # # # # # # 

        sql_str = f"""
            insert into thepubpicker.diary (
                diary_identity,
                pub_identity,
                monday,
                tuesday,
                wednesday,
                thursday,
                friday,
                saturday,
                sunday
            ) 
            values (
                '{row['diary_identity']}', 
                '{row['pub_identity']}',
                '{row['monday']}',
                '{row['tuesday']}',
                '{row['wednesday']}',
                '{row['thursday']}',
                '{row['friday']}',
                '{row['saturday']}',
                '{row['sunday']}'
            )
        """

        # # # # # # # # # # # # # # # 
        # # # POPULATE STATION # # #
        # # # # # # # # # # # # # # 

        # sql_str = f"""
        #     insert into thepubpicker.station (
        #         station_identity,
        #         direction_identity,
        #         station_deletion,
        #         station_name,
        #         station_latitude,
        #         station_longitude,
        #         postcode 
        #     ) 
        #     values (
        #         '{row['station_identity']}', 
        #         '{row['direction_identity']}',
        #         '{row['station_deletion']}',
        #         '{row['station_name']}',
        #         {row['station_latitude']},
        #         {row['station_longitude']},
        #         '{row['postcode']}'
        #     )
        # """

        # # # # # # # # # # # # # # # # 
        # # # POPULATE DIRECTION # # #
        # # # # # # # # # # # # # # # 

        # sql_str = f"""
        #     insert into thepubpicker.direction (
        #         direction_identity,
        #         direction_name,
        #         direction_deletion
        #     ) 
        #     values (
        #         '{row['direction_identity']}', 
        #         '{row['direction_name']}',
        #         '{row['direction_deletion']}'
        #     )
        # """

        # # # # # # # # # # # # # # # # # 
        # # # POPULATE DAILY EVENT # # #
        # # # # # # # # # # # # # # # # 

        # sql_str = f"""
        #     insert into thepubpicker.daily_event (
        #         event_identity,
        #         pub_identity,
        #         event_day,
        #         event_detail,
        #         event_type
        #     ) 
        #     values (
        #         '{row['event_identity']}', 
        #         '{row['pub_identity']}',
        #         '{row['event_day']}',
        #         '{row['event_detail']}',
        #         '{row['event_type']}'
        #     )
        # """

        # # # # # # # # # # # # # # #
        # # # POPULATE REVIEW # # #
        # # # # # # # # # # # # # 

        # sql_str = f"""
        #     insert into thepubpicker.review (
        #         review_identity, 
        #         pub_identity,
        #         review_deletion,
        #         scenic,
        #         sport,
        #         garden,
        #         music,
        #         roast,
        #         brunch,
        #         late,
        #         quiz,
        #         pool,
        #         dart,
        #         entertain,
        #         history,
        #         favourite, 
        #         cocktail,
        #         beer,
        #         wine,
        #         outdoor,
        #         restaurant,
        #         nofeature,
        #         private,
        #         dj,
        #         comedy,
        #         karaoke,
        #         timeout,
        #         hours
        #     ) 
        #     values (
        #         '{row['review_identity']}', 
        #         '{row['pub_identity']}',
        #         '{row['review_deletion']}',
        #         '{row['scenic']}',
        #         '{row['sport']}',
        #         '{row['garden']}',
        #         '{row['music']}',
        #         '{row['roast']}',
        #         '{row['brunch']}',
        #         '{row['late']}',
        #         '{row['quiz']}',
        #         '{row['pool']}',
        #         '{row['dart']}',
        #         '{row['entertain']}',
        #         '{row['history']}',
        #         '{row['favourite']}', 
        #         '{row['cocktail']}',
        #         '{row['beer']}',
        #         '{row['wine']}',
        #         '{row['outdoor']}',
        #         '{row['restaurant']}',
        #         '{row['nofeature']}',
        #         '{row['private']}',
        #         '{row['dj']}',
        #         '{row['comedy']}',
        #         '{row['karaoke']}',
        #         '{row['timeout']}',
        #         '{row['hours']}'
        #     )
        # """

        # # # # # # # # # # # # # # #
        # # # POPULATE DETAIL # # #
        # # # # # # # # # # # # # 

        # sql_str = f"""
        # insert into thepubpicker.detail (
        #     pub_identity,
        #     station_identity,
        #     detail_name,
        #     address,
        #     category,
        #     detail_deletion,
        #     detail_latitude,
        #     detail_longitude,
        #     extra,
        #     place,
        #     ranking,
        #     website,
        #     url) 
        # values (
        # '{row['pub_identity']}',
        # '{row['station_identity']}',
        # '{row['detail_name'].replace("'", '"')}',
        # '{row['address'].replace("'", '"')}',
        # '{row['category']}',
        # '0',
        # {row['detail_latitude']},
        # {row['detail_longitude']},
        # '{row['extra'].replace("'", '"') if len(row['extra'])>0 else '' }',
        # '{row['place']}',
        # {row['ranking']},
        # '{row['website']}',
        # '{row['url']}'
        # )
        # """

        curs_obj.execute(sql_str)    
    con.commit()
except Exception as e:
    print(e)
finally:
    # curs_obj.close()
    con.close()

In [177]:
 con.close()

In [146]:
df1 = pd.read_csv(directory_path + '/detail.csv')
df1.shape[0]
df2 = pd.read_csv(directory_path + '/review.csv')
df_all = df1.merge(df2, on=['pub_identity'], how='right', indicator=True)
rslt_df = df_all[df_all['_merge'] == 'right_only'] 
new_df = rslt_df[['pub_identity']]

# df_same = df1.merge(df2, on=['pub_identity'], how='inner', indicator=True)
# df2.shape[0]
error_list = new_df['pub_identity'].tolist()
print(error_list)

# for del_item in error_list:
#     df = df.drop(df[df['city'] == 'Chicago'].index)

['4ed8c10e-3667-487b-825a-c6e15de432ec']

In [9]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import time
start = time.process_time()

url = URL.create(
        drivername='postgresql',
        database="deb2u2ehdm8ih3",
        username="bjoonismanuyqb",
        password="42c662ab36a741716575f3e0101741349280622fff71ce246b15410de5c460d6",
        host="ec2-54-76-132-202.eu-west-1.compute.amazonaws.com",
        port= '5432'
        )
engine = create_engine(url)
query = """select * from thepubpicker.detail d""" 
                    # left join thepubpicker.review r on r.pub_identity = d.pub_identity 
                    # left join thepubpicker.station s on s.station_identity = d.station_identity 
                    # left join thepubpicker.direction dir on dir.direction_identity = s.direction_identity
                    # left join thepubpicker.daily_event evnt on evnt.pub_identity = d.pub_identity
                    # """
df = pd.read_sql_query(query,con=engine)
   
print(time.process_time() - start)

0.15091300000000007

In [6]:
import psycopg2
start = time.process_time()
con = psycopg2.connect(
   database="deb2u2ehdm8ih3",
   user="bjoonismanuyqb",
   password="42c662ab36a741716575f3e0101741349280622fff71ce246b15410de5c460d6",
   host="ec2-54-76-132-202.eu-west-1.compute.amazonaws.com",
   port= '5432'
   )
curs_obj = con.cursor()
curs_obj.execute("""select * from thepubpicker.detail d 
                    left join thepubpicker.review r on r.pub_identity = d.pub_identity 
                    left join thepubpicker.station s on s.station_identity = d.station_identity 
                    left join thepubpicker.direction dir on dir.direction_identity = s.direction_identity
                    left join thepubpicker.daily_event evnt on evnt.pub_identity = d.pub_identity
                    """)
result = curs_obj.fetchall()

print(time.process_time() - start)

0.1840849999999996

In [8]:
import datetime
now = datetime.datetime.now()
print(now)

2024-03-01 23:10:15.271910

In [14]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 4.8 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
WARNING: You are using pip version 20.3.3; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [77]:
print(str(uuid.uuid4()))

3e3ac502-113b-49d8-8150-72101e2ada66