In [10]:
# directory_path = config2['directory_path']
import os
import pandas as pd
directory_path = os.getcwd()
df_details = pd.read_csv(directory_path + '/details_park.csv', dtype={'pub_identity': str,
                                                       'station_identity': str, 'detail_deletion': str,
                                                       'detail_name': str, 'address': str, 'category': str,
                                                       'colour': str, 'place': str, 'detail_latitude': float,
                                                       'detail_longitude': float, 'rank': float,
                                                       'extra': str})
df_details.head(1)

,pub_identity,station_identity,detail_deletion,detail_name,address,category,colour,place,detail_latitude,detail_longitude,rank,extra
0,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,True,Shard Quarter,"297 Hoxton St, London N1 5JX, UK",Bar,#000000,ChIJta8CEZoddkgRzUPFFO6tYHc,51.5043,-0.086371,4.6,Women made wine shop

In [11]:
df_new = df_details[['pub_identity','station_identity','detail_name','address','category','colour','detail_deletion','detail_latitude','detail_longitude','extra','place','rank']]
df_new.head(1)

,pub_identity,station_identity,detail_name,address,category,colour,detail_deletion,detail_latitude,detail_longitude,extra,place,rank
0,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,Shard Quarter,"297 Hoxton St, London N1 5JX, UK",Bar,#000000,True,51.5043,-0.086371,Women made wine shop,ChIJta8CEZoddkgRzUPFFO6tYHc,4.6

In [12]:
df_new.to_csv(directory_path + '/details_park2.csv', index=False, sep=',', encoding='utf-8')