In [10]:
import os
import pandas as pd
directory_path = os.getcwd()
df_reviews = pd.read_csv(directory_path + '/reviews.csv', dtype={'review_identity': str, 'pub_identity':str, 'review_deletion': str, 'brunch': str, \
                                                                       'dart': str, 'entertain': str, 'favourite': str, 'garden': str, \
                                                                       'history': str, 'late': str, 'music': str, 'pool': str, 'quiz': str, \
                                                                       'roast': str, 'sport': str})
df_reviews.head(1)

,review_identity,review_deletion,pub_identity,brunch,dart,entertain,favourite,garden,history,late,music,pool,quiz,roast,sport
0,11111111-aaaa-1111-aaaa-111111111111,false,99999999-zzzz-9999-zzzz-999999999999,true,true,true,true,true,true,true,true,true,true,true,true

In [12]:
# df_reviews['no_feature'] = 'false'
df_reviews.head(1)

,review_identity,review_deletion,pub_identity,brunch,dart,entertain,favourite,garden,history,late,music,pool,quiz,roast,sport,no_feature
0,11111111-aaaa-1111-aaaa-111111111111,false,99999999-zzzz-9999-zzzz-999999999999,true,true,true,true,true,true,true,true,true,true,true,true,false

In [15]:
import numpy as np
df_reviews['no_feature'] = np.where((df_reviews['brunch'] == 'true') | \
                                    (df_reviews['dart'] == 'true') | \
                                    (df_reviews['entertain'] == 'true') | \
                                    (df_reviews['favourite'] == 'true') | \
                                    (df_reviews['garden'] == 'true') | \
                                    (df_reviews['history'] == 'true') | \
                                    (df_reviews['late'] == 'true') | \
                                    (df_reviews['music'] == 'true') | \
                                    (df_reviews['pool'] == 'true') | \
                                    (df_reviews['quiz'] == 'true') | \
                                    (df_reviews['roast'] == 'true') | \
                                    (df_reviews['sport'] == 'true') \
                                    , 'false', 'true')
df_reviews

,review_identity,review_deletion,pub_identity,brunch,dart,entertain,favourite,garden,history,late,music,pool,quiz,roast,sport,no_feature
0,11111111-aaaa-1111-aaaa-111111111111,false,99999999-zzzz-9999-zzzz-999999999999,true,true,true,true,true,true,true,true,true,true,true,true,false
1,1869bc0d-e2a8-40c9-bcba-073bfaaa4ba0,false,00ffd490-b3b8-424d-b5d2-5122bbebdba2,false,false,false,false,false,false,false,false,false,false,false,false,true
2,e1c5fd3e-8fb3-40ff-a7cb-1bf2d20e8611,false,10f611a2-512f-4b07-aa57-8de878ccbb3b,false,false,false,false,false,false,false,false,false,false,false,false,true
3,f2df2681-9b63-46a7-83f2-1fb8d6e3e0a1,false,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,false,false,false,false,false,false,false,false,false,false,false,false,true
4,50fa15ac-5cd3-41ab-a183-54e52897955a,false,eabe0a83-2841-4c72-b86a-4fb5504e2161,false,false,false,false,false,true,false,false,false,false,true,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,65738c87-c310-468a-ae73-6124545bab16,false,1297ac9a-d0ed-48e0-b7ab-ccf684a500e1,false,false,false,false,false,false,false,false,false,false,false,false,true
1241,ddcfb5fe-fc3b-4e9c-a281-dd327cc27e53,false,92c49a14-f650-4acc-a74f-b6fb96760631,false,false,false,true,false,false,false,false,false,false,false,false,false
1242,32d863f6-c352-4819-a445-fd8473e61c00,false,c913df3d-acdc-40e4-ad1e-4ae57c250834,false,true,false,false,false,false,false,false,false,false,false,true,false
1243,d7035012-429b-4457-b65c-442e0e9114c8,false,0bc4e7cf-fcb5-4918-a784-8cc0116727da,false,false,false,false,false,false,false,false,false,false,false,false,true
1244,11111111-aaaa-1111-aaaa-222222222222,false,b7f16ea4-7f50-4d2c-bc48-46cddf0984c0,false,false,false,false,false,false,false,false,false,true,false,false,false

In [16]:
df_reviews.to_csv(directory_path + '/reviews_new.csv', index=False, sep=',', encoding='utf-8')