In [10]:
import pandas as pd
df = pd.read_csv('photos.csv')
df

,photo_identity,photo_deletion,pub_identity
0,55930a30-3a3c-4fc6-90bc-0a42f138f169,False,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64
1,8ddf4ae7-402c-4ac6-90b1-411e9cc8ac1e,False,fd1f6053-8868-419a-a445-fd24a21e8b99

In [11]:
import uuid
import numpy as np
new_id = uuid.uuid4()
df['photo_identity'] = np.where(df['pub_identity'] == 'fd1f6053-8868-419a-a445-fd24a21e8b99', new_id, df['photo_identity'])
df

,photo_identity,photo_deletion,pub_identity
0,55930a30-3a3c-4fc6-90bc-0a42f138f169,False,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64
1,08d5c2db-d21d-43cf-9132-2b22280f3b95,False,fd1f6053-8868-419a-a445-fd24a21e8b99

In [8]:
df.to_csv('photos.csv', sep=',', encoding='utf-8', index=False)