In [10]:
# directory_path = config2['directory_path']
import os
import pandas as pd
directory_path = os.getcwd()
df_details = pd.read_csv(directory_path + '/details_park.csv', dtype={'pub_identity': str,
                                                       'station_identity': str, 'detail_deletion': str,
                                                       'detail_name': str, 'address': str, 'category': str,
                                                       'colour': str, 'place': str, 'detail_latitude': float,
                                                       'detail_longitude': float, 'rank': float,
                                                       'extra': str})
df_details.head(1)

,pub_identity,station_identity,detail_deletion,detail_name,address,category,colour,place,detail_latitude,detail_longitude,rank,extra
0,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,True,Shard Quarter,"297 Hoxton St, London N1 5JX, UK",Bar,#000000,ChIJta8CEZoddkgRzUPFFO6tYHc,51.5043,-0.086371,4.6,Women made wine shop

In [11]:
df_new = df_details[['pub_identity','station_identity','detail_name','address','category','colour','detail_deletion','detail_latitude','detail_longitude','extra','place','rank']]
df_new.head(1)

,pub_identity,station_identity,detail_name,address,category,colour,detail_deletion,detail_latitude,detail_longitude,extra,place,rank
0,6d9c8d4e-fa1d-433d-aea4-ff3f5c36cb64,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,Shard Quarter,"297 Hoxton St, London N1 5JX, UK",Bar,#000000,True,51.5043,-0.086371,Women made wine shop,ChIJta8CEZoddkgRzUPFFO6tYHc,4.6

In [12]:
df_new.to_csv(directory_path + '/details_park2.csv', index=False, sep=',', encoding='utf-8')

In [6]:
import os
directory_path = os.getcwd()
print(directory_path)
# from app.models.detail.detail import Detail
directory_path_1 = os.path.abspath(os.path.join(directory_path, os.pardir))
from directory_path_1.app.models.detail.detail import Detail

/Users/andycarter/Documents/develop/thepubpicker/files

ModuleNotFoundError: No module named 'directory_path_1'

In [15]:
import importlib.util
import sys
import os
directory_path = os.getcwd()
directory_path_1 = str(os.path.abspath(os.path.join(directory_path, os.pardir)))

full_path = directory_path_1 + "/app/models/detail/detail.py"
print(full_path)
spec = importlib.util.spec_from_file_location("Detail", full_path)
foo = importlib.util.module_from_spec(spec)
sys.modules["Detail"] = foo
spec.loader.exec_module(foo)
foo.MyClass()

/Users/andycarter/Documents/develop/thepubpicker/app/models/detail/detail.py

ModuleNotFoundError: No module named 'app'

In [39]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from app.models.detail.detail import Detail
# use the function normally
# function(...)
for key, value in Detail().__dict__.items():
    print(value.name)
    # for v in value.__dict__:
    #     print(v)

# for key, value in Detail.__dict__.items():
#     print('key, value')
#     print(key, value)

pub_identity
station_identity
detail_name
address
category
colour
detail_deletion
detail_latitude
detail_longitude
extra
place
rank
website
url

In [106]:
import os
import sys
import inspect
import pandas as pd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from app.models.diary.diary import Diary
from app.models.event.event_identity import EventIdentity

# new_diary = Diary()
# for key, value in Diary().__dict__.items():
#     for k, val in value.__dict__.items():
#         if k == 'name':
#             key_list.append(val)
#             key_item = val
#         if k == 'value':
#             if isinstance(val, EventIdentity):
#                 for ky, vl in val.__dict__.items():
#                     if ky == 'value':
#                         new_val_list.append(vl)
#                         value_item = vl
#             else:
#                 new_val_list.append(val)
#                 value_item = val
#             setattr(new_diary, key_item, value_item)
# setattr(new_diary, 'pub_identity', pub_id)
# df = pd.DataFrame([new_diary.__dict__])
# df
model = Diary()
new_model = model
for key, value in model.__dict__.items():

    for k, v in value.__dict__.items():

        if isinstance(v, EventIdentity):
            for ky, vl in value.__dict__.items():
                if ky == 'value':
    
                    print(vl.value)
                    # setattr(new_model, vl.name, vl.value)
    #     else:
    #         setattr(new_model, value.name, value.value)
# setattr(new_model, 'pub_identity', '999')
# df = pd.DataFrame([new_model.__dict__])
# df

inside

inside

inside

inside

inside

inside

inside

In [95]:
model = Diary()
new_model = model
for key, value in model.__dict__.items():
    if isinstance(value, EventIdentity):
        for ky, vl in value.__dict__.items():
            print(str(ky))
            if ky == 'value':
                print(ky, vl)
                setattr(new_model, vl.name, vl.value)
    else:
        setattr(new_model, value.name, value.value)
# setattr(new_model, 'pub_identity', '999')
# df = pd.DataFrame([new_model.__dict__])
# df

In [21]:
for k, v in d.items():
    if isinstance(v, dict):
        myprint(v)
    else:
        print("{0} : {1}".format(k, v))

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
WARNING: You are using pip version 20.3.3; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [108]:
import pandas as pd
directory_path = os.getcwd()
df_detail_all = pd.read_csv(directory_path + '/detail.csv')
df_best = df_detail_all.loc[(df_detail_all['rank'] > 4) & (df_detail_all['rank'] < 5)]
df_best

,pub_identity,station_identity,detail_name,address,category,colour,detail_deletion,detail_latitude,detail_longitude,extra,place,rank,website,url
0,d0cb2007-97dd-4d04-9090-b736188a704d,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,Finleys,"297 Hoxton St, London N1 5JX, UK",Bar,#000000,True,51.504300,-0.086371,Women made wine shop,ChIJta8CEZoddkgRzUPFFO6tYHc,4.6,https://www.wheresfinley.com/,https://maps.google.com/?cid=8602066526339941325
6,5c5aa314-0ef0-4a92-9aa2-45e89bcd7f0c,a9dd3bb6-f448-4315-b4b9-be59803228f3,CellarDoor,"Zero Aldwych, Wellington St, London WC2E 7DN, UK",Bar,#000000,False,51.511495,-0.119263,"Basement bar with nightly events, from burlesq...",ChIJa1uHRMoEdkgRq4LNAJbXbhg,4.4,http://www.cellardoor.biz/,https://maps.google.com/?cid=1760581543606977195
8,6bb18e6f-42e5-4f54-b98a-75302168364c,21d98f91-f4f6-4a17-9c96-2f81a74a8a5c,Kings Stores,"14 Widegate St, London E1 7HW, UK",Bar,#000000,False,51.518045,-0.077820,"Traditional-styled pub with wooden floors, liv...",ChIJ5RaXpLMcdkgR9zQEorKYcI4,4.3,https://www.kingsstores.co.uk/,https://maps.google.com/?cid=10263871443767145719
9,49bf46f8-088d-44aa-afee-c96875a311a7,6755ece0-c460-4849-9ba9-ece9e516d8f1,The Nags Head,"10 James St, London WC2E 8BT, UK",Bar,#000000,False,51.512914,-0.123680,"Large, busy pub with Victorian interior servin...",ChIJ2QufhMwEdkgRXCUo74j_0Zo,4.2,http://www.nagsheadcoventgarden.co.uk/,https://maps.google.com/?cid=11155978715566450012
10,9b7c0aba-1eb5-4006-887b-d7903b0a566d,a9dd3bb6-f448-4315-b4b9-be59803228f3,Ye Olde Cock Tavern,"22 Fleet St, Temple, London EC4Y 1AA, UK",Bar,#000000,False,51.513798,-0.110507,Dating from 1549 (and on this site since 1887)...,ChIJsecEQrMEdkgRvd4CVnayQPs,4.2,https://www.greeneking.co.uk/pubs/greater-lond...,https://maps.google.com/?cid=18104666723348307645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1342,4bf9ad14-5134-46a5-929e-c2f2a87e9a99,b020122a-0193-424a-b0da-df902b668040,"The Cabbage Patch, Twickenham","67 London Rd, Twickenham TW1 3SZ, UK",bar,NaN,False,51.448861,-0.329889,No detail available,ChIJg8yveooMdkgRxJ9ZtADNl0o,4.3,https://www.cabbagepatch.co.uk/?utm_source=goo...,https://maps.google.com/?cid=5374990083199442884
1343,ecc7247f-37de-4fc5-8a59-cef25084d542,20330815-8d65-4d6c-9d6f-4a6b4e894752,The Sussex Arms,"15 Staines Rd, Twickenham TW2 5BG, UK",bar,NaN,False,51.444003,-0.345710,No detail available,ChIJC6FBLpEMdkgROYMvO4swEd8,4.5,http://www.thesussexarmstwickenham.co.uk/,https://maps.google.com/?cid=16073681919613567801
1344,313ea37a-0aa9-44a3-87b3-d3adbd02ee51,ff5599ee-8cbb-4538-b976-0578286583f4,The Rising Sun,"277-279 Richmond Rd, Twickenham TW1 2NP, UK",Bar,NaN,False,51.452731,-0.313356,No detail available,ChIJGVHLZ0IMdkgRhOyYl8VayJA,4.2,http://therisingsunrichmond.co.uk/,https://maps.google.com/?cid=10432688341502192772
1345,7d635efe-e641-41f2-b2f8-956e30ce8bbd,50b1aa05-62c2-4a5e-983f-0759d766fab1,Milford Arms,"574 London Rd, Isleworth TW7 4EY, UK",Bar,NaN,False,51.473808,-0.345072,No detail available,ChIJ1TE3vh0NdkgR4ohHfxv2rjM,4.3,http://www.themilfordarms.co.uk/,https://maps.google.com/?cid=3724184539841923298
1346,1e9bfe3c-2019-4a87-8d73-8f9c7a9fd377,595367fa-292c-4341-962e-8912a4f507c7,The Sun,"148 Hanworth Rd, Hounslow TW3 1UG, UK",Restaurant,NaN,False,51.466626,-0.362262,No detail available,ChIJGcUyKNoMdkgRiRtJK31_4X0,4.3,https://thesunhounslow.co.uk/,https://maps.google.com/?cid=9070671300074740617